[submodule "vim/bundle/syntax_opengl"]
	path = vim/bundle/syntax_opengl
	url = git://github.com/beyondmarc/opengl.vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/jinja"]
	path = vim/bundle/jinja
	url = https://github.com/mitsuhiko/vim-jinja
[submodule "vim/bundle/python-combined"]
	path = vim/bundle/python-combined
	url = https://github.com/mitsuhiko/vim-python-combined
[submodule "vim/bundle/rst"]
	path = vim/bundle/rst
	url = https://github.com/mitsuhiko/vim-rst
[submodule "vim/bundle/jedi"]
	path = vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim/bundle/jsbeautify"]
	path = vim/bundle/jsbeautify
    url = https://github.com/maksimr/vim-jsbeautify
[submodule "vim/bundle/nerdtree"]
    path = vim/bundle/nerdtree
    url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/rust"]
	path = vim/bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/jsx"]
	path = vim/bundle/jsx
	url = git@github.com:mxw/vim-jsx.git
