* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "iosevka nerd font";
    font-weight: bold;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background-color: #1a1b26;
    opacity: 0.9;
}

tooltip {
    background-color: #1d2021;
    border: 2px solid #7c6f64;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#temperature,
#backlight,
.custom-spotify,
#custom-spotify,
#custom-todos {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    background: black;
    border-radius: 6px;
}

#workspaces,
#clock,
#custom-todos {
    background: black;
    margin: 6px 0px 6px 6px;
}

#workspaces {
    background: transparent;
}

#clock,
#custom-todos {
    color: #c7ab7a;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 4px 4px;
    color: #c7ab7a;
    background: black;
    margin: 2px 2px;
    border-radius: 6px;
}

#workspaces button.focused {
    color: #00aaff;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#clock {
    color: #d4be98;
}

#battery {
    background-color: #739900;
    border: 2px solid #c7ab7a;
}

#cpu,
#memory,
#network,
#pulseaudio,
#temperature,
#backlight {
    background-color: black;
    border: 2px solid #b37c12;
    color: #b37c12;
}

#cpu.critical,
#memory.critical,
#temperature.critical,
#backlight.critical {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #c14a4a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #c14a4a;
}

#custom-power {
    color: #ddc7a1;
    padding-right: 2px;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
    color: #c14a4a;
    margin: 6px 6px 6px 6px;
    padding-left: 5px;
    padding-right: 5px;
    background: black;
    border-radius: 6px;
}

.custom-spotify,
#custom-spotify {
    font-family: "NotoSansMono Nerd Font";
    color: #00d402;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
